/* Small Devices - Mobile Phone */
@media screen and (max-width: 600px) {

    /* Common Styles */
    .content-wrapper {
        margin: 0 auto;
        width: 90%;
        max-width: 600px;
    }

    /* Navbar Styles Here */
    .navbar .nav-items {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    /* Banner Styles Here */
    .banner {
        height: auto;
        padding: 2.5rem 0;
    }

    .banner-content h1 {
        font-size: 1.5rem;
    }

    .banner-content {
        padding: 0;
    }

    .banner-content p {
        font-size: 14px;
    }

    .banner-travel-find-now-box {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

    .banner-travel-find-now-box input,
    .banner-travel-find-now-box select {
        width: 100%;
    }

    /* Our Popular Styles Here */
    .our-popler-tours {
        flex-direction: column;
    }

    .our-popler-tours-content,
    .our-popler-tours-img {
        width: 100%;
    }
}

/* Laptop / Destop Device */
@media screen and (min-width: 992px) and (max-width: 1200px) {}