/* Small Devices - Mobile Phone */
@media screen and (max-width: 600px) {

    /* Common Styles */
    .content-wrapper {
        margin: 0 auto;
        width: 90%;
        max-width: 600px;
    }

    /* Navbar Styles Here */
    .navbar .nav-items {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    /* Banner Styles Here */
    .banner {
        height: auto;
        padding: 2.5rem 0;
    }

    .banner-content {
        padding: 0 2rem;
    }

    .banner-content h1 {
        font-size: 2.2rem;
        padding: 0 .6rem;
    }

    .banner-content {
        padding: 0;
    }

    .banner-content p {
        font-size: .8rem;
        padding: 1rem 1rem;
    }

    .banner-content p br {
        display: none;
    }

    .banner-travel-find-now-box {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

    .banner-travel-find-now-box input,
    .banner-travel-find-now-box select {
        width: 100%;
    }

    /* Our Popular Styles Here */
    .our-popler-tours {
        flex-direction: column;
    }

    .our-popler-tours-content,
    .our-popler-tours-img {
        width: 100%;
    }

    .our-popler-tours-content h2 {
        font-size: 2.2rem;
    }

    /* Vacation Bundles Styles Here */
    .vacation-bundles-content p br {
        display: none;
    }

    .vacation-bundles-packages {
        flex-direction: column;
    }

    .vacation-bundles-content h2 {
        font-size: 2.2rem;
    }

    /* Destination Style Here */
    .destination-content p br {
        display: none;
    }

    .destination-img-gellary {
        margin: 0;
        padding: 0;
    }

    .destination-content h2 {
        font-size: 2.2rem;
    }

    .destination-1 {
        grid-column: 1/-1;
        margin: 0;
        padding: 0;
        height: 170px;
    }

    .destination-2 {
        grid-column: 1/-1;
        height: 170px;
    }

    .destination-3 {
        grid-column: 1/-1;
    }

    .destination-4 {
        grid-column: 1/-1;
    }

    .destination-5 {
        grid-column: 1/-1;
    }

    .destination-6 {
        grid-column: 1/-1;
    }

    .destination-7 {
        grid-column: 1/-1;
    }

    .destination-3,
    .destination-4,
    .destination-5,
    .destination-6,
    .destination-7 {

        gap: 2rem;
    }

    /* Why Choose Us Service */
    .why-choose-us-service-col-1 {
        flex-direction: column;
    }

    .why-choose-us-service-col-2-wrapper {
        width: 100%;
    }

    .why-choose-us-content h2 {
        font-size: 2.2rem;
    }

    .why-choose-us-content p br {
        display: none;
    }

    /*  */
    .newsletter-subscription-discount {
        flex-direction: column;
    }

    .newsletter-subscription-box,
    .newsletter-discont-img {
        width: 100%;
    }

    .newsletter-discont-img .discouont-box {
        padding: .5rem 1.5rem;
        right: 0px;
        bottom: 40px;

    }

    .discouont-box p {
        font-size: 1rem;
    }

    .discouont-box h3 {
        font-size: 1.5rem;
    }

    /* Footer styles Here */
    .footer hr {
        width: 100%;
    }

    .footer p br {
        display: none;
    }
}

/* Laptop / Destop Device */
@media screen and (min-width: 992px) and (max-width: 1200px) {}