/* Google Fonts Import - Mulish */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap");

/* Common Styles Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1250px;
    padding: 0 2rem;
}

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --white-color: #FFF;
    --primary-text-des-color: #131318b3;
    --secondary-text-des-color: #5A5A5D;
    --primary-bg-color: #fbb5630d;
    --secondary-bg-color: #29cef60d;
}

.primary-title {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 800;
}

.secondary-title {
    color: var(--secondary-color);
    font-size: 2.8rem;
    font-weight: 800;
}

.primary-text-des {
    color: var(--primary-text-des-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.secondary-text-des {
    color: var(--secondary-text-des-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.btn-primary {
    border-radius: .5em;
    background: var(--primary-color);
    padding: 0.8rem 2.2rem;
    border: none;
    outline: none;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

/* .find-now-btn {
    display: flex;
    align-items: center;
} */

/* Navbar Styles Start Here */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.navbar div {
    display: flex;
    align-items: center;
}

.nav-logo {
    gap: 1rem;
    cursor: pointer;
}

.nav-logo h2 {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 800;
}

.nav-logo h2 span {
    color: var(--primary-color);
}

.nav-items {
    gap: 2.8rem;
}

.nav-items a {
    text-decoration: none;
    color: var(--secondary-text-des-color);
    font-size: 1.25rem;
    font-weight: 700;
}

.nav-items a:hover {
    color: var(--primary-color);
    font-weight: 700;
    transition: 0.5s;
}

.navbar .toggle-btn {
    color: var(--secondary-color);
    font-size: 1.25rem;
    cursor: pointer;
    display: none;
}

/* Navbar Styles End Here */

/* Banner Styles Start Here */
.banner {
    border-radius: 1rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./../image/banner.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    text-align: center;
    padding-top: 7rem;
}

.banner-content p {
    color: var(--white-color);
    padding: 1.5rem 0 2.2rem 0;
}

.banner-travel-find-now-box {
    display: inline-flex;
    border-radius: .5rem;
    padding: 1rem;
    gap: 1.4rem;
    background: #ffffff4d;
}

.banner-travel-find-now-box input,
.banner-travel-find-now-box select {
    padding: 1rem;
    border-radius: .5rem;
    background: var(--white-color);
    border: none;
    outline: none;
    color: var(--secondary-text-des-color);
    font-size: 1rem;
    font-weight: 400;
    width: 174px;
}

.banner-travel-find-now-box button i {
    margin-right: .5rem;
}


/* Banner Styles End Here */


/* Out Popular Tour Styles Start Here */
.our-popler-tours {
    display: flex;
    align-items: center;
    padding: 6.5rem 0;
    gap: 1.5rem;
    width: 100%;
}

.our-popler-tours-content {
    width: 50%;
}

.our-popler-tours-img {
    width: 50%;
}

.our-popler-tours-content p {
    padding: 1rem 0;
}

/* Out Popular Tour Styles End Here */


/* Choose Your Destination Styles Start Here */
.choose-your-destination {
    margin-bottom: 6.5rem;
}

.destination-content {
    text-align: center;
}

.destination-content p {
    padding: 1.2rem 0 3rem 0;
}

.destination-img-gellary {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.destination-1 {
    grid-column: 1/7;
}

.destination-2 {
    grid-column: 7/-1;
}

.destination-3 {
    grid-column: 1/5;
}

.destination-4 {
    grid-column: 5/10;
}

.destination-5 {
    grid-column: 10/-1;
}

.destination-6 {
    grid-column: 1/6;
}

.destination-7 {
    grid-column: 6/-1;
}


.destination-img-name {
    position: relative;
    height: auto;
}

.destination-img-name img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.destination-img-name h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 800;
}


/* Choose Your Destination Styles End Here */


/* Why Choose Us  Styles Start Here */
.why-choose-us-service {
    margin-bottom: 6.5rem;
}

.why-choose-us-service-col-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.why-choose-us-service-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.why-choose-us-service-col-2-wrapper {
    width: 50%;
}

.why-choose-us-content {
    text-align: center;
}

.why-choose-us-content p {
    padding: 1.2rem 0 3rem 0;
}

.why-choose-us-service-box {
    background-color: var(--primary-bg-color);
    border-radius: 1rem;
    border: 1px solid #fbb56333;
    padding: 2rem;
}

.why-choose-us-service-box-2 {
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
    border: 1px solid #29cef633;
    padding: 2rem;
}

.why-choose-us-service-box h4,
.why-choose-us-service-box-2 h4 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 800;
    padding: 2rem 0 1rem 0;
}

/* Why Choose Us  Styles End Here */

/* Newsletter Subscription Styles Start Here */
.newsletter-subscription-discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 6.5rem;
}

.newsletter-discont-img img {
    width: 100%;
}

.newsletter-subscription-box {
    width: 40%;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
}

.newsletter-subscription-box h4 {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.newsletter-subscription-box input {
    border-radius: .5rem;
    background: #1313180d;
    padding: 1rem;
    border: none;
    outline: none;
    color: #1313184d;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 1rem;
}

.newsletter-subscription-box button {
    border-radius: .5rem;
    background: var(--primary-color);
    width: 100%;
    padding: .8rem 0;
    border: none;
    outline: none;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 800;
    margin: .5rem;
}

.newsletter-subscription-box hr {
    height: 1px;
    background: #1313181a;
    border: none;
    margin: 1.4rem 0;
}

/* Newsletter Subscription Styles End Here */


/* Footer Styles Start Here */
footer {
    background: #1313180d;
    padding: 7rem 0;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

.footer-logo h2 {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 800;
}

.footer-logo h2 span {
    color: var(--primary-color);
}

.footer p {
    padding: 1rem 0 2rem 0;
}

.footer-social-icons i {
    font-size: 1.4rem;
    margin-right: 2rem;
    cursor: pointer;
}

.footer hr {
    height: 1px;
    width: 60%;
    margin: 3.2rem auto;
    border: none;
    background: #1313181a;

}

/* Footer Styles End Here */