/* Google Fonts Import - Mulish */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap");

/* Common Styles Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1250px;
    padding: 0 2rem;
}

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --white-color: #FFF;
    --primary-text-des-color: #131318b3;
    --secondary-text-des-color: #5A5A5D;
}

.primary-title {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 800;
}

.secondary-title {
    color: var(--secondary-color);
    font-size: 2.8rem;
    font-weight: 800;
}

.primary-text-des {
    color: var(--primary-text-des-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.secondary-text-des {
    color: var(--secondary-text-des-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.btn-primary {
    border-radius: .5em;
    background: var(--primary-color);
    padding: 0.8rem 2.2rem;
}

/* Navbar Styles Start Here */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.navbar div {
    display: flex;
    align-items: center;
}

.nav-logo {
    gap: 1rem;
    cursor: pointer;
}

.nav-logo h2 {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 800;
}

.nav-logo h2 span {
    color: var(--primary-color);
}

.nav-items {
    gap: 2.8rem;
}

.nav-items a {
    text-decoration: none;
    color: var(--secondary-text-des-color);
    font-size: 1.25rem;
    font-weight: 700;
}

.nav-items a:hover {
    color: var(--primary-color);
    font-weight: 700;
    transition: 0.5s;
}

.navbar .toggle-btn {
    color: var(--secondary-color);
    font-size: 1.25rem;
    cursor: pointer;
    display: none;
}

/* Navbar Styles End Here */